@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
body {
    font-display: sans-serif;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: #505962;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, .6)!important;
}

.navbar-brand img {
    height: 3rem;
    padding-left: 20px;
}

.navbar-nav li {
    padding-right: .10rem;
}

.navbar-dark .navbar-nav .nav-link {
    padding-top: .8rem;
}

.navbar-toggler {
    outline: none !important;
}

.carousel-item {
    height: 89vh;
}

.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: red;
    margin: 0 auto 2rem;
}


/*------Login------*/

.bg {
    background-image: url(cinema.jpg);
    width: 100%;
    height: 100vh;
}

.form-container {
    color: aliceblue;
    border: 2px white;
    padding: 30px 60px;
    margin-top: 20vh;
    -webkit-box-shadow: 11px 7px 8px -7px rgba(196, 6, 196, 1);
    -moz-box-shadow: 11px 7px 8px -7px rgba(196, 6, 196, 1);
    box-shadow: 11px 7px 8px -7px rgba(196, 6, 196, 1);
}